
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&family=Playfair+Display:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&family=Playfair+Display:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;600&family=Playfair+Display:wght@500;600&family=Poppins:ital,wght@0,400;1,600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
input:focus,
select:focus,
textarea:focus {
    outline: none;   /* Remove the default focus outline */
}
input,
select,
textarea {
    color: inherit;  /* Inherit the color from the parent */
}

.trial h2.text-cyan{
  color:red;
}

/*NAV*/
  body {
    margin: 0;
    
    background: linear-gradient(to bottom, white 10%, black 10%, black 100%);
}


html,
header {
  width: 100%;
  overflow-x: hidden;

}

nav {
  height: 60px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
}

.nav_container {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2.address{
  font-size: 20px;
  margin-bottom: 20px;;
  letter-spacing: 2px;
  font-family: 'Roboto Mono', monospace;
  color: white;
  text-align: center;
}
ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
li.nav_title{
  padding-top: 0px;
  list-style: none;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 50px;
  line-height: 1em;
  color:rgb(0, 0, 0);

}
li.german{
  animation: sliderRight 2s;;
  transition: 400ms all ease;
}
.nav_row {
  display: flex;
  width: 120%;
  justify-content: center;
}



/* HEADER */


.header_container {
  display: flex;
  justify-content: center;
  background-color: black;
}
.g,.m,.w{
  font-family: 'Poppins', sans-serif;
}
.header_row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }

h1.header_title {
  margin-top: 25px;
  font-size: 250px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color:white;
  font-weight: 200;
  transition: 400ms;
  animation: fadeIn 2s;
}
h1.header_title:hover {
  transition: 300ms;
}

.header_about {
  width: 700px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  background-color: rgb(0, 0, 0);
  background-color: black;

}
p.about {
  font-size: 15px;
  text-align: center;
  line-height: 1.4em;
  letter-spacing: 0px;
  word-spacing: 1px;
  color: white;
  font-family: 'Roboto Mono', monospace;
}


button{
    font-size: 15px;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 254, 254);
    padding:10px 15px 10px 15px;
    border-radius: 10px;
    border:solid white 2px;
    cursor:pointer;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    transition:300ms ease;
    margin-right:5px;
}

input[type="tel"],.input[type="text"],.input[type="email"],select
{
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    border-radius: 15px;
    border:solid 2px white;
    height:40px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding:2px;
    margin-top:10px;
}
.input_message[type="text"]{
  background-color: #000000;
  color: #ffffff;
  width: 100%;;
  border-radius: 15px;
  border:solid 2px white;
  height:80px;
  font-family: "Poppins", sans-serif;
  padding:2px;
  margin-top:10px;
  overflow-wrap: break-word;
  text-indent: 10px;;
  line-height: 10px;
}
button:hover{
    color:#ffffff;
    background-color: rgb(0, 0, 0);
    border:solid #000000 2px;
    transition:300ms;
   
}
.header_img{
    display: flex;
    justify-content: center;
    padding-top: 80px;
    padding-bottom:80px;
}
.img_container{
  background-color: black;
}
.project__img{
    width: 700px;
    border-radius: 25px;
    height:auto;
}
.header_buttons{
  margin-top:25px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}


@keyframes fadeIn {
    from {
    opacity: 0;
    }
    to {
    opacity: 1;
    }
    }

/* SERVICES */
section.services{
  height:100vh;
  background-color: rgb(255, 255, 255);
}


h3.services_page_title, h3.contact_title{
  font-size:30px;
  padding-top:0px;
  color:rgb(0, 0, 0);
  text-align: center;
  letter-spacing: 3px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
  margin-top:25px;
}

.services_container{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
 }

.services_row{
  width:80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.services_second_container{
  width:80%;
  height:100%;
  margin-top:20px;
  display: flex;
  flex-direction: column;
  padding-top: 0px;

}
.services_section{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height:30%;
}

.services_brakes, .services_oil, .services_diagnostics, .services_maintenace, .services_alignment, .services_ac{
  height:90%;
  background-color: #000000;
  border-radius:40px;
  padding:30px;

  padding-right: 10px;
  display: flex;
  flex-direction: column;
  transition: 300ms;
  
}
.services_brakes:hover,
.services_oil:hover,
.services_diagnostics:hover,
.services_maintenace:hover,
.services_alignment:hover,
.services_ac:hover {
  background-color: rgb(55, 54, 54);
  transition: 300ms;
}

.services_img_container{
  display: flex;
  justify-content: right;
  align-items: center;
  height:100%;
}
.brakes_img{
  border-radius: 20px;
  width:0%;
  height:0%;
}
.oil_img{
  height: 0%;
  width: 0%;
  border-radius: 20px;

}
.services_brakes, .services_diagnostics,.services_alignment{
  margin-right:10px;
}
.services_brakes, .services_maintenace, .services_alignment{
  width:100%;
}
.services_oil, .services_diagnostics, .services_brakes{
  width:50%;
}
.services_title, .services_description{
 color:rgb(255, 254, 254);
}
.services_title{
  font-family: 'Silkscreen', sans-serif;
  font-size:30px;
  text-align: left;
}
.services_description{
  font-size: 19px;
  margin-top:20px;
  font-family: "Poppins", sans-serif;
  
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid;
  border-color: orange #df181800; /* Adjust colors as desired */
  animation: l1 .75s infinite;
  display: flex;
  margin-left:45%;
  margin-top:5%;
  display: none; /* Hides the loader by default */
}
/* HTML: <div class="loader"></div> */


@keyframes l1 {
  to {
    transform: rotate(.5turn);
  }
}


/* Contact Section */
.contact_section_container{
  background-color: white;
  display: flex;
  justify-content: center;
  height: 700px;
}
.contact_row{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact_form_container{
  margin-top:10px;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  height:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:30px;
  width:1000px;
}

label{
  font-size: 20px;
  font-weight:bold;
  font-family: "Poppins", sans-serif;
  color:white;
}
.vehicles_container{
 height:50vh;
 display: flex;
 justify-content: center;
 background-color: black;
}

.vehicles_row{
  width:70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vehicles_title{
  margin-right:30px;
}
h3.vehicles_title{
    margin-bottom:55px;
    font-size:32px;
    padding-top:0px;
    color:rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 3px;
    font-weight:bold;
    font-family: "Poppins", sans-serif;
  }

.vehicle_description_container{
  width:100%;
  max-width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vehicle_description{
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  text-align: center;
}
.color_accent{
  font-size: 24px;
  font-family: "Poppins", sans-serif;
 /*color:rgb(138, 190, 241);*/
  color:orange;
}

footer{
  background-color: rgb(0, 0, 0);
  height:170px;
}
.footer_text,.phone,.email,.hours{
  color:rgb(255, 255, 255);
  font-family: 'Roboto Mono', monospace;
  margin-top:15px;
  font-size: 18px;
  font-weight: bold;
}
.footer_text{
  font-size:18px;
  font-weight:bold;
  color:rgb(255, 255, 255);

}
.form__submit{
  margin-top:10px;
  width:100%;
}

.footer_container{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  margin-top:10px;
}


@media (max-width: 1200px) {

  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: white;
    z-index: -1;
  }
  body{
    overflow-x:hidden;

  }
  nav {
    height: 60px;
    padding: 0px;
    width:100%;
    background-color: white;
    overflow-x: hidden;
    position: fixed;
  }
  .nav_container{
    display: flex;
    justify-content: center;
  }
  .nav_row{
    display: flex;
    justify-content: center;
    align-items: center;
    width:300px;
  }
  li.nav_title{
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }
  h1.header_title {
    margin-top:100px;
    font-size: 130px;
  }
  header{
    width:100%;
    overflow:hidden;
  }
.header_container{
  background-color: rgb(0, 0, 0);
  max-width: 100%;
}
  h2.address{
    font-size:17px;
    font-family: 'Roboto Mono', monospace;
  }
  .project__img{
    margin-top:1px;
    width: 365px;
    border-radius: 25px;
    height:auto;
}
p.about {
  margin-top:10px;
  font-size: 16px;
  text-align: center;
  line-height: 1.4em;
  letter-spacing: 0px;
  word-spacing: 1px;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

  .buttons_container{
    width:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  button{
    margin-top:10px;
    font-size:13px;
    border:solid white 2px;
    margin-right:3px;
    padding:10px 20px 10px 20px;
    border-radius: 10px;
  }
  .header_about {
    width:80%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    background-color: rgb(0, 0, 0);

  }

  section.services{
    height:90vh;
    background-color: rgb(255, 255, 255);
  }
  .services_section{
    width:100%;

  }
  .services_second_container{
    width:90%;
    height:100%;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  .services_row{
    width:100%;
  }
  .services_title{
    font-family: 'Silkscreen', sans-serif;
    font-size:21px;
    text-align: left;
  }
  .services_description{
    font-size: 14px;
    margin-top:14px;
    font-family: "Poppins", sans-serif;
  }
  .services_brakes, .services_oil, .services_diagnostics, .services_maintenace, .services_alignment, .services_ac{
    height:98%;
    background-color: #000000;
    border-radius:40px;
    padding:20px;
    width:100%;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    transition: 300ms;
  }
  .vehicles_row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .vehicle_description{
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    text-align: center;
  }
  .color_accent{
    font-size:18px;
  }
  .vehicles_title{
    margin:0px;
  }
  h3.vehicles_title{
    margin-bottom:35px;
    font-size:24px;
    padding-top:0px;
    color:rgb(255, 255, 255);
    text-align: center;
    letter-spacing: 3px;
    font-weight:bold;
    font-family: "Poppins", sans-serif;
  }
 
  .contact_section_container{
   
  }
    
  .contact_form_container{
    margin-top:15px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:400px;
    padding:50px;
  }
  h3.contact_title{
    font-size: 28px;
  }
  footer{
    height:100px;
  }
  .footer_container{
    height:80%;
  }
  .phone,.email,.hours{
    font-size:14px;
    margin-top:5px;
  }
  .footer_text{
    font-size: 14px;
    margin-top:5px;
  }
  .form__item{
    max-width:310px;
  }
  button.form__submit{
    margin-top:20px;
  }
  
}
@media (max-width: 440px){

h1.header_title{
  font-size: 100px;
}
 .services_second_container{
    width:95%;
    height:100%;
    margin-top:20px;
    display: flex;
    flex-direction: column;
    padding-top: 0px;
  }
  .services_brakes, .services_diagnostics,.services_alignment{
    margin-right:4px;
  }
  .services_brakes, .services_oil, .services_diagnostics, .services_maintenace, .services_alignment, .services_ac{
    height:90%;
    background-color: #000000;
    border-radius:30px;
    padding:30px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    transition: 300ms;
  }
  .contact_form_container{
    margin-top:10px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    width:340px;
  }
  .project__img{
    width: 320px;
    border-radius: 25px;
    height:auto;
}
.services_brakes, .services_oil, .services_diagnostics, .services_maintenace, .services_alignment, .services_ac{
  height:98%;
  background-color: #000000;
  border-radius:40px;
  padding:20px;
  width:100%;
  padding-right: 0px;
  display: flex;
  flex-direction: column;
  transition: 300ms;
}
.services_title{
  font-size: 10px;
  letter-spacing: 0px;
}

.services_description{
  font-size:13px;
  margin-left:0px;
}
h3.vehicles_title{
  margin-top: 0px;
  margin-bottom:6px;
}
h3.contact_title{
  font-size: 24px;
  letter-spacing: 0.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.vehicle_description{
  margin-top: 3px;
}
.vehicles_container{
  height:60vh;
}
label{
  font-size: 20px;
  font-weight: 550;
  font-family: "Poppins", sans-serif;
  color:white;
}

}
@media (max-width: 330px){
  .nav_row{
    width:250px;
  }
  li.nav_title{
    font-size:12px;
  }
  .buttons_container{
    width:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .project__img{
    width:270px;
  }
  h2.address{
    font-size: 12px;
    margin-bottom: 20px;;
    letter-spacing: 2px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-align: center;
  }
  p.about{
    font-size:12px;
  }
  h3.services_page_title{
    font-size:18px;
  }
  .services_title{
    font-size: 14px;
    margin-left:0px;
  }
  .services_description{
    font-size:9.5px;
    margin-left:0px;
  }
  h3.vehicles_title{
    font-size:20px;
    margin-bottom:10px;
  }
  .vehicle_description,.color_accent{
    font-size: 14px;
  }
  section.services{
    height:100vh;
  }
  .contact_form_container{
    margin-top:15px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    height:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:270px;
    padding:50px;
  }
  label{
    font-size: 16px;
  }
  h3.contact_title{
    font-size: 21px;
  }

  
}